#canvas {
    border: 1px solid #009900;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}

.fill {
    width: 100%;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}